@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay/ClashDisplay-Regular.ttf");
}
@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("/fonts/ClashDisplay/ClashDisplay-Bold.ttf");
}
@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("/fonts/ClashDisplay/ClashDisplay-Medium.ttf");
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist/Geist-Regular.ttf");
}
@font-face {
  font-family: "Geist-Bold";
  src: url("/fonts/Geist/Geist-Bold.ttf");
}
@font-face {
  font-family: "Geist-Medium";
  src: url("/fonts/Geist/Geist-Medium.ttf");
}

@layer base {
  /* Hiding Scrollbar */
  html::-webkit-scrollbar {
    display: none;
  }
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* LENIS */
  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

  /* Base Styles */
  html,
  body {
    @apply scroll-smooth bg-dark text-light cursor-none;
  }
  p,
  a {
    @apply font-geist;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-clash-display;
  }

  /* selection */
  /* ::selection {
    @apply bg-main text-dark;
  } */
}

@layer utilities {
  .curve {
    height: calc(100% + 300px);
  }

  .circ {
    @apply absolute bottom-[-100%] left-0 bg-light/70 h-full w-[100%] rounded-[50%] z-[1] transition-all duration-[0.4s];
  }
  button:hover .circ {
    @apply bottom-0 rounded-[25%];
  }
  button:hover p {
    @apply md:text-dark;
  }

  .clip-video {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: clip-path 0.5s ease-in-out;
  }
}
